'scopeName': 'source.sigma16'
'name': 'Sigma16'
'fileTypes': ['sigma16','asm']

'patterns': [
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.sigma16'
  },
  {
    'match': ';.*'
    'name': 'comment.line.semi-colon.sigma16'
  },
  {
    'match': '\\s(add|sub|mul|div|cmp|cmplt|cmpeq|cmpgt|inv|and|or|xor|shiftl|shiftr|trap|lea|load|store|jump|jumpf|jumpt|jumpc|jal|jumpgt|jumplt|jumpeq|data)\\s'
    'name': 'keyword.control.sigma16'
  },
  {
    'match': 'R[0-9][0-5]?';
    'name': 'keyword.constant.sigma16'
  }
]
